body {
    font-family:monospace;
  }
  
  a {
    color: rgb(241, 245, 6);
    border-color: rgb(29, 27, 170);
    border-width: 10px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: 5px 5px;
  }
a:hover{color: blue; text-decoration:underline;}
a:link {text-decoration: none;
}

h1,h2,h3{
    font-size:30pt;
    Padding: 50px;
}

  #nav_bar {
  position:fixed;
  top:0px;
  left:0px;
  display:flex; flex-direction:row;  flex-wrap:wrap; align-self:center;
  width: 100%;
  background-color:rgb(93, 9, 133);
    font-size: 10pt;
    text-align: left;
    color: #f1f519;
    font-weight: bold;
    border-color: rgb(3, 3, 32);
    border-width: 3px;
    border-style: solid;
    border-radius: 2%;
    opacity: 0.7;
  }

  #blink{
    border-color: rgb(29, 27, 170);
    border-width: 2px;
    border-style: solid;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #Registerbutton{
     font-size: 5pt;
     width: 50px;
     height:30px;
     Padding: 10px;
     border-width: 3px;
     text-align: center;
     background-color:rgb(93, 9, 133);
     color: #f1f519;
     margin: 5px 5px;
     display: flex;
     justify-content: center;
     align-items: center;
  }

 #nav_bar:hover{color: blue;}
#Registerbutton:hover{ background-color:blue; color: white;}
#blink:hover{background-color:rgb(0, 234, 255);}

.sergio {
    font-family: Lobster;
    font-size: 14px;
    color:blue !important;
    border-color: blue;
    border-width: 10px;
    border-style: solid;
    border-radius: 10%;
     background: linear-gradient(35deg, black,  blue,white);
}

#formRegistro{  
  width: 1000px;
  height:200px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

  label, input {border-color: green;
   border-width: 4px;}

.nocturno{background-color: black; color:white !important; display:flex; flex-direction:column;  flex-wrap:wrap; align-self:center;  }
.diurno{background-color: white ; color:black !important; }